<!--
  Generated template for the QrscanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{value.valModalQrScan.title | uppercase}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModalQr(null)">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="imgqrscan">
    <img src="assets/imgs/kumbung_qrscan.png">
  </div>

  <ion-fab bottom left *ngIf="flashLight">
      <button ion-fab mini (click)="switchLightFlash()">
        <ion-icon [name]="iconFlash"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab bottom center *ngIf="frontCamera">
    <button ion-fab (click)="switchCamera()">
      <ion-icon name="ios-reverse-camera-outline"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
